@use "../../custom2" as *;

#companies {
    background-color: $gray-100;
    margin-top: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-down(lg) {
        .container-lg .row .col {
            &:first-child,
            &:last-child,
            &:nth-child(4) {
                display: none;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .container-lg .row .col {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
                display: none;
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                display: block;
            }
        }
    }

    img {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .text {
        position: relative;
        top: 4rem;
        white-space: nowrap;
        
        h3 {
            font-family: YekanBakh;
            font-size: 1.875rem;
            font-weight: 900;
            color: $primary-color;

            @include media-breakpoint-up(md) {
                font-family: YekanBakh-Heavy;
                font-size: 2rem;
            }

            @include media-breakpoint-up(lg) {
                font-family: YekanBakh-Heavy;
                font-size: 3.125rem;
            }
        }

        p {
            margin-top: 0.625rem;
            font-family: YekanBakh;
            font-size: 1rem;
            color: $gray-700;
        }
    }
}
