@use "../../custom2" as *;

#services-section {
    background-color: $white;
    margin-top: 5rem;

    h2 {
        font-family: YekanBakh-Heavy;
        font-size: 1.5625rem;
        font-weight: 900;
        margin-top: 2rem;
        color: $primary-color;
        // line-height: 4.2;

        @include media-breakpoint-up(lg) {
            font-size: 2rem;
        }
    }

    p {
        font-family: YekanBakh-Regular;
        font-size: 1rem;
        color: $gray-700;
        margin: 0.625rem 1rem 2rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }

    .services {
        display: flex;
        overflow-x: auto;

        @include media-breakpoint-up(lg) {
            justify-content: center;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .service {
            & > div {
                @include media-breakpoint-down(lg) {
                    width: 20rem;
                }

                background-color: $gray-200;
                padding-bottom: 2rem;
                border-radius: 1.25rem;

                @include media-breakpoint-up(lg) {
                    margin-top: 4rem;
                }
            }

            .icon {
                width: 6.25rem;
                height: 6.25rem;
                border-radius: 1.25rem;
                box-shadow: 0 5px 31px 0 rgba(5, 117, 230, 0.12);
                background-color: $white;
                padding: 1rem 1.75rem;
                margin: 4rem auto 0;
                position: relative;
                top: -3rem;

                i {
                    color: $light-blue;
                    font-size: 2.5rem;
                }
            }

            .content {
                // padding-top: 2rem;

                h3 {
                    // margin: 0 75px 26px 57px;
                    font-family: YekanBakh-Regular;
                    font-size: 1.25rem;
                    font-weight: bold;
                    line-height: 1.55;
                    color: $primary-color;
                }

                ul {
                    list-style-type: none;

                    li {
                        // margin: 0 15px 18px 0;
                        font-family: YekanBakh;
                        font-size: 1rem;
                        line-height: 1.56;
                        color: $gray-800;
                        padding: 0.5625rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            margin-left: 0.5625rem;
                            color: $green;
                            font-size: 1.5rem;
                        }
                    }
                }
                // background-color: $gray-200;
            }

            button {
                font-family: YekanBakh-Bold;
                font-size: 1.25rem;
                text-align: center;
                line-height: 1.9375rem;
                color: $white;

                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0 auto 1rem;
                width: 12.5rem;
                height: 4rem;
                border: none;
                border-radius: 0.75rem;
                background-color: rgba($red, 0.04);

                span {
                    margin-left: -3rem;
                    color: $red;
                }

                i {
                    color: $red;
                }
            }
        }
    }
}
