@use "../custom2" as *;

//IMPORT THE COMPONENTS
@use "../component/mixin";
@use "../component/typography";
@use "../component/navbar";
@use "../component/footer";

// IMPORT THE SECTIONS
@use "index/header";