@use "../custom2" as *;

footer {
    .menu {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    h4 {
        font-family: YekanBakh-Bold;
        font-size: 1rem;
        line-height: 1.375rem;
        text-align: right;
        color: $black;
    }

    ul {
        list-style-type: none;
        text-align: right;
        padding: 0;

        li {
            a {
                text-decoration: none;
                font-family: YekanBakh-Regular;
                font-size: 0.875rem;
                line-height: 1.375rem;
                color: $black;
            }
        }
    }

    .social-media {
        .fa-whatsapp {
            color: $whatsapp-color;
        }
        .fa-telegram {
            color: $telegram-color;
        }
        .fa-linkedin {
            color: $linkedin-color;
        }
        .fa-instagram {
            color: $instagram-color;
        }
        .fa-twitter {
            color: $twitter-color;
        }
        .fa-facebook {
            color: $facebook-color;
        }
    }

    .copy-right {
        font-family: YekanBakh-Regular;
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: $black;
        // width: 16rem;
    }

    .enamad {
        margin-right: -1.25rem;
        justify-content: center;
        padding-top: 2rem;

        @include media-breakpoint-up(md){
            padding-top: 0;
        }
    }
}
