@use '../custom2' as *;

nav {
    ul {
        li {
            a.nav-link {
                font-family: "YekanBakh-Medium";
                font-size: 0.875rem;
                color: $gray-900;

                @include media-breakpoint-up(xl) {
                    font-size: 0.9375rem;
                }
            }
        }
    }
}
