
// FONTS
@font-face {
    font-family: "YekanBakh";
    src: url("../../fonts/Yekan\ Bakh\ FA\ 04\ Regular.ttf");
}
@font-face {
    font-family: "YekanBakh-Regular";
    src: url("../../asset/fonts/Yekan\ Bakh\ FA\ 04\ Regular.ttf");
}
@font-face {
    font-family: "YekanBakh-Bold";
    src: url("../../asset/fonts/Yekan\ Bakh\ FA\ 06\ Bold.ttf");
}
@font-face {
    font-family: "YekanBakh-Heavy";
    src: url("../../asset/fonts/Yekan\ Bakh\ FA\ 07\ Heavy.ttf");
}
@font-face {
    font-family: "YekanBakh-Fat";
    src: url("../../asset/fonts/Yekan\ Bakh\ FA\ 08\ Fat.ttf");
}
